.form {
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  background-color: #03be9f;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.control {
  margin-bottom: 0.5rem;
  min-width: 10rem;
  flex: 1;
}

.control label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
  color: white;
  display: block;
}

.control input,
.control textarea {
  padding: 0.25rem;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dcfff9;
}

.form button {
  background-color: white;
}
