.header {
  padding: 0 10%;
  width: 100%;
  height: 5rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #38015c;
}

.logo {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.header button {
  padding: 0.5rem 1.5rem;
  font: inherit;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.header a:hover {
  color: #c291e2;
}

.header button:hover {
  color: #38015c;
  background-color: #c291e2;
}
