.alert {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #38028d;
  border-radius: 6px;
  background-color: #d5bdfc;
}
