:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
}

body {
  main > * {
    margin-bottom: 40px;
  }
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

.field {
  display: grid;
  grid-template-columns: 11fr;
  grid-template-rows: 1fr;
}

button {
  margin: 1rem 0;
  padding: 1rem;
  color: white;
  border-style: none;
  outline: none;
  background-color: black;
  cursor: pointer;
  transform: scale(1);
  transition: transform 100ms;

  &:hover {
    background-color: lighten(black, 15%);
  }

  &:focus {
    background-color: lighten(black, 30%);
    transform: scale(0.95);
  }
}
